/* Estilo do rodapé */
.main footer{
  width: auto;
  height: 100%;
  background: #222;
  border: solid black;
  color: #eee;

}
.main footer p{
  margin: 10px;
  text-align: center;
}
#footer a{
  text-decoration: none;
  color: green;
}
#footer a:hover{
  color: yellow;
}
