/* Esitlo da galeria */
#gal div{ /* Definindo Image-Containers*/
  float: left;
  width: 31%;
  height: 270px;
  min-width: 200px;
  border: solid rgba(0, 0, 0, 0.7) 1px;
  margin: 8px;
  border-radius: 2%;
  box-shadow: 3px 2px 6px #888;
  align-items: center;
}
#gal h1{ /* Formato do Título da Galeria */
  text-align: center;
  color: rgba(0, 0, 89, 0.6);
}
/* Estabelecendo Backgrounds para Image-Containers */
.gal1{
  background: url(../images/gal/code.jpg);
}
.gal2{
  background: url(../images/gal/games.jpg);
  background-size: cover;
}
.gal3{
  background: url(../images/gal/info.jpg);
  background-position: center;
  background-size: cover;
}
.gal4{
  background: url(../images/gal/music.jpg);
  background-size: cover;
}
.gal5{
  background: url(../images/gal/info2.jpg);
  background-size: cover;
}
.gal6{
  background: url(../images/gal/gandalf.jpg);
  background-size: cover;
}
.gdeveloper{ /* ImageFrame da página do desenvolvedor */
  background: url(../images/extras/me.jpg);
  background-size: cover;
  transition: 1s;
}
.gdeveloper:hover{
  background: url(../images/extras/me2.jpg);
  background-size: cover;
  background-position: center;
  transition: 2s;
}
#gal div h3{ /* Estilizando Image-Containers Labels*/
  color: #eee;
  font-size: 30pt;
  text-align: center;
  overflow: hidden;
  align-self: center;
  font-family: fantasy;
  border-bottom:  rgba(250, 250, 250, 0.4) solid 0.5px;
  background: rgba(180, 0, 255, 0.5);
  border-radius: 2% 2% 0 0;
}
.linkgal{ /* Elimina a underline dos links da galeria */
  text-decoration: none;
}
/*Estilizo da Galeria de Itens da Loja*/
.sgal1 {
  background: url('../images/geshop/choose.jpg');
  background-size: cover;
}
.sgal2 {
  background: url('../images/geshop/gimmebr.jpg');
  background-size: cover;
}
.sgal3 {
  background: url('../images/geshop/gohan.jpg');
  background-size: cover;
}
.sgal4 {
  background: url('../images/geshop/luffyaf.jpg');
  background-size: cover;
}
.sgal5 {
  background: url('../images/geshop/r2d2.jpg');
  background-size: cover;
}
.sgal6 {
  background: url('../images/geshop/ssj3.jpg');
  background-size: cover;
}
#gal div:hover #subSgal{
  display: block;
  background: rgba(0, 0, 0, 0.3);
}
#gal #subSgal{
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  display: none;
}
#subSgal h4{
  color: #eee;
  font-size: 32px;
  font-family: monospace;
  text-align: center;
  border-bottom: 5px solid rgba(255, 255, 255, 0.2);
}
#btSGal{
  margin: auto;
  color: rgba(160, 0, 255, 0.7);
  font-weight: 600;
  font-size: 20px;
  margin-top: 10%;
  margin-left: 5%;
  outline: none;
  height: 20%;
  width: 90%;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
}
.price{
  font-size: 20px;
  color: white;
}
.price b{
  color: #0ff;
}
.btCar{
  width: 60%;
  margin: 0 20% 10px 20%;
}
#cover {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 245%;
  display: none;
}
#buycar{
  width: 80%;
  background: #fff;
  min-width: 300px;
  margin: 30% 10%;
  border-radius: 15px;
  padding: 20px;
}
