/* Esitlo da galeria */

#gal div{ /* Definindo Image-Containers*/
  float: left;
  width: 30%;
  height: 270px;
  min-width: 100px;
  min-height: 100px;
  border: solid black 1px;
  margin: 10px;
  border-radius: 2%;
  box-shadow: 3px 2px 6px #888;
  align-items: center;
}
#gal h1{ /* Formato do Título da Galeria */
  text-align: center;
  color: rgba(0, 0, 89, 0.6);
}
/* Estabelecendo Backgrounds para Image-Containers */
.gal1{
  background: url(../images/gal/code.jpg);
}
.gal2{
  background: url(../images/gal/games.jpg);
  background-size: cover;
}
.gal3{
  background: url(../images/gal/info.jpg);
  background-position: center;
  background-size: cover;
}
.gal4{
  background: url(../images/gal/music.jpg);
  background-size: cover;
}
.gal5{
  background: url(../images/gal/info2.jpg);
  background-size: cover;
}
.gal6{
  background: url(../images/gal/gandalf.jpg);
  background-size: cover;
}
.gdeveloper{ /* ImageFrame da página do desenvolvedor */
  background: url(../images/extras/me.jpg);
  background-size: cover;
}
#gal div h3{ /* Estilizando Image-Containers Labels*/
  color: #eee;
  font-size: 30pt;
  text-align: center;
  overflow: hidden;
  align-self: center;
  font-family: fantasy;
  border: #eee solid 1px;
  background: rgba(180, 0, 255, 0.5);
}
.linkgal{ /* Elimina a underline dos links da galeria */
  text-decoration: none;
}
