*{
  padding: 0;
  margin: 0;
}
#menu {
  height: 6%;
  min-height: 45px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #222;
}
#menu li{
  display: inline;
  font-size: 15pt;
}
#menu a{
  text-decoration: none;
  color: #ddd;
  margin: 5px 1px;
  padding: 14px 5px;
}
#menu a:hover{
  background: #666;
}

#menu ul{
  padding: 4px;
  float: right;
}
#menu h1{
  float: left;
  color: white;
  font-family: monospace;
  font-size: 20pt;
}
#area {
  padding: 5px;
  margin: auto;
  max-width: 700px;
  min-width: 700px;

}
.sgeek{
  color: cyan;
  letter-spacing: -1px;
}
.sgeek:hover{
  transition: 1s;
  color: red;
}
.active{
  background: cyan;
  text-shadow: 2px 2px 5px purple;
}
